body {
    background-color: #1e2529;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

header>#logo {
    width: 170px;
    height: 57px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    margin: auto;
}

header>nav {
    height: fit-content;
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    right: -25px;
    bottom: 28%;
}

header>nav>a {
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 35px;
    width: 122px;
    height: 29px;
    display: inline-block;
    text-align: center;
    transition-duration: 1s;
}

#hero-section {
    position: relative;
    height: 300px;
    width: 88%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#hero-section>#right-side {
    height: 500px;
    width: 1300px;
    color: #E0E0E0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 130px;
    margin-bottom: 60px;
}

#right-side>p>span {
    font-style: normal;
    color: #0ef;
}

#right-side>p:nth-child(2) {
    display: none;
}

#assignments {
    position: relative;
    height: 1440px;
    width: 88%;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#assignments>h1 {
    width: 290px;
    height: 60px;
    color: #0ef;
    font-weight: bold;
    font-size: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}


.line-left>hr,.line-right>hr {
    height: 7px;
    width: 25dvw;
    border: 0;
    background: #0ef;
}

.line-left-01>hr,.line-right-02>hr {
    height: 7px;
    width: 32dvw;
    border: 0;
    background: #0ef;
}

.line-left,.line-left-01 {
    position: absolute;
    left: 0;
    top: 22px;
}

.line-right,.line-right-02 {
    position: absolute;
    right: 0;
    top: 22px;
}

.grid{
    height: 560px;
    display: grid;
    margin: 140px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-items: center;
    grid-row-gap: 80px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-assignments {
    height: 928px;
    display: grid;
    margin: 140px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-items: center;
    grid-row-gap: 80px;
    grid-template-columns: repeat(3, 1fr);
}


#assignments-cards>div {
    width: 195px;
    height: 230px;
    margin: 10px;
    position: relative;
    background: url("/assets/image/pdfRemoval.png") center no-repeat;
    background-size: 225px 210px;
    border-radius: 20px 90px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border: 3px solid #0ef;
    align-content: center;
    overflow: hidden;
    transition: .8s ease-in-out;
}

.as-label {
    display: inline-block;
    width: 195px;
    height: 230px;
}

.as-label>input {
    display: none;
}

.assignment-card-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: -100%;
    right: 0;
    border-radius: 10px 10px 0 0;
    background: white;
    backdrop-filter: blur(7px);
    color: #ffffff;
    text-align: center;
    transition: .7s ease-in-out;
}

.assignment-card-title {
    margin: 10px;
    position: relative;
    font-size: 18px;
    top: 0;
}

.assignment-card-sub {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    bottom: 20px;
}

.assignment-btn {
    width: 40px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.see-more-btn {
    width: 55px;
    height: 35px;
    border: 2px solid rgba(25, 42, 86, 0);
    background: none;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

#siteMap,#wireFrame,#figma {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#pdf-1,#view-1,#git-1,#pdf-2,#view-2,#git-2,#pdf-3,#view-3,#git-3,#pdf-4,#view-4,#git-4,#pdf-5,#view-5,#git-5,
#pdf-6,#view-6,#git-6,#pdf-7,#view-7,#git-7,#pdf-8,#view-8,#git-8,#pdf-9,#view-9,#git-9,#pdf-10,#view-10,#git-10,
#pdf-11,#view-11,#git-1{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#git-1,#git-2,#git-3, #git-4, #git-5, #git-6, #git-7, #git-8, #git-9, #git-10,#git-11 {
    width: 35px;
    height: 30px;
}

.grid-btn {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

footer {
    position: relative;
    height: 0px;
    top: 210px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
}

#copy-rights {
    height: 30px;
    width: 381px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


@media (hover: hover) {
    #assignments-cards>div:hover {
        border: 3px solid #0ef;
        background-size: 150px 150px;
    }

    .see-more-btn:hover {
        cursor: pointer;
        border: 2px solid #0ef;
        border-radius: 5px 15px 5px 15px;
        background-color: #192A56;
        text-decoration: none;
    }

    .assignment-card:hover .assignment-btn {
        pointer-events: auto;
    }

    .card-02 {
        pointer-events: none;
    }
    .as-label {
        pointer-events: none;
    }

    #assignments-cards>div:hover .assignment-card-content {
        left: 0;
    }

    .close:hover {
        border: 2px solid #192A56;
        border-radius: 10px 0 10px 0;
        font-weight: 750;
        background-color: #0ef;
        box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
    }

    .as-03-cases:hover {
        font-weight: 800;
        color: #001b68;
        border: 2px solid #192A56;
        background-color: #0ef;
        border-radius: 0 15px 0 15px;
        box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    }
}

@media (hover: none) {

    input:checked + .assignment-card-content {
        left: 0;
    }

    input:checked + .card-content {
        bottom: 0;
    }
}

@media all and (max-width: 1440px) {

    body {
        overflow-x: hidden;
    !important;
    }

    header > nav {
        height: fit-content;
        position: absolute;
        font-weight: 400;
        font-size: 22px;
        right: 30px;
        bottom: 28%;
    }

    #hero-section {
        position: relative;
        height: 690px;
        width: 98%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #hero-section > #left-side {
        width: 612px;
        height: 662px;
        top: 0;
        left: 0;
        bottom: 0;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    #hero-section > #right-side {
        height: 500px;
        width: 710px;
        font-size: 24px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin-top: 130px;
        margin-bottom: 60px;
    }

    #assignments {
        position: relative;
        height: 1430px;
        width: 98%;
        top: 200px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .line-left-01>hr, .line-right-02>hr {
        height: 7px;
        width: 34dvw;
    }
}