body {
    background-color: #1e2529;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

header>#logo {
    width: 170px;
    height: 57px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    margin: auto;
}

header>nav {
    height: fit-content;
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    right: -25px;
    bottom: 28%;
}

header>nav>a {
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 35px;
    width: 122px;
    height: 29px;
    display: inline-block;
    text-align: center;
    transition-duration: 1s;
}

#hero-section {
    position: relative;
    height: 450px;
    width: 88%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#hero-section>#right-side {
    height: 500px;
    width: 790px;
    color: #E0E0E0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 130px;
    margin-bottom: 60px;
}

#right-side>p>span {
    font-style: normal;
    color: #0ef;
}

#right-side>p:nth-child(2) {
    display: none;
}

#assignments {
    position: relative;
    height: 1440px;
    width: 88%;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#assignments>h1 {
    width: 290px;
    height: 60px;
    color: #0ef;
    font-weight: bold;
    font-size: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.line-left>hr,.line-right>hr {
    height: 7px;
    width: 25dvw;
    border: 0;
    background: #0ef;
}

.line-left-01>hr,.line-right-02>hr {
    height: 7px;
    width: 32dvw;
    border: 0;
    background: #0ef;
}

.line-left,.line-left-01 {
    position: absolute;
    left: 0;
    top: 22px;
}

.line-right,.line-right-02 {
    position: absolute;
    right: 0;
    top: 22px;
}
